/* Global Syles */

body {
    margin: 0;
}

a {
    color: #F9FAF8;
    font-size: 18px;
}

h1, h2, h3 {
    color: #F9FAF8;
    font-weight: 900;
}

h1 {
    font-size: 48px;
    margin: 0px 0px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    margin: 5px;
}

p {
    font-size: 18px;
    color: #F9FAF8;
}

q {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    quotes: none;
    text-align: right;
}

cite {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

section {
    padding: 50px 100px 80px;
}

/* Buttons*/

button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-color: #F9FAF8;
}

.no-border {
    border-width: 0;
}

/* Header & Footer*/

header, footer {
    padding: 0px 100px;
    background-color: #1F2937;
}

header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Hero Section */

.hero {
    background-color: #1F2937;
    display: flex;
    gap: 10px;
}

.hero > * {
    flex:1;
}

.hero-content {
    padding: 18px 0px;
}

/* Info Section*/
.info h2, .info p {
    color: #1F2937;
    text-align: center;
}

.info img {
    border-color: #3882F6;
    border-radius: 10px;
    border-style: outset;
    max-width: 200px;
}

.info-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.info-blocks > * {
    max-width: 200px;
    flex: 1;
}



/* Highlight Boxes*/

h3 {
    border-color: aqua;
    border-style: dashed;
    
}

.header-links {
border-color: red;
    border-style: dashed;
}

.hero > * {
border-color: red;
border-style: dashed;
}


header, footer, section {
border-style: dashed;
}

q {
        border-color: yellow;
            border-style: dotted;
}